.expect {
    padding: 85px 0 75px 0;
    .wait_us {
        color: #252525;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }
    .border {
        display: block;
        width: 217px;
        height: 4px;
        background-color: $main_color;
        margin: 0 auto;
        margin-top: 18px;
    }
    .begin {
        color: #4a4a4a;
        font-size: 23px;
        font-weight: 400;
        text-align: center;
        margin-top: 17px;
    }

    .wb_track {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 45px;
        background-color: #efefef;
        .tasks {
            width: 342px;
            color: #4a4a4a;
            font-size: 15px;
            font-weight: 300;
            text-align: center;
            img {
                display: block;
                margin-bottom: 33px;
            }
        }
    }
}


